#include <windows.h>
#define IDI_NOTEPAD_REPLACER 101
IDI_NOTEPAD_REPLACER ICON "../replacer.ico"
1 VERSIONINFO
FILEVERSION 1,0,1,0
PRODUCTVERSION 1,0,1,0
FILETYPE 0x2L
BEGIN
  BLOCK "StringFileInfo" BEGIN
    BLOCK "040904B0" BEGIN
      VALUE "FileDescription", "NotepadReplacerContextMenu\0"
      VALUE "OriginalFilename", "NotepadReplacerContextMenu.dll\0"
      VALUE "ProductName", "Notepad Replacer\0"
    END
  END
  BLOCK "VarFileInfo" BEGIN VALUE "Translation", 0x0409, 1200 END
END
